src/clients/customer/android/app/google-services.json
src/clients/customer/ios/Runner/GoogleService-Info.plist
src/clients/customer/.env

**/.firebaserc

**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.swift

**/.plugin_symlinks/**

**/pubspec.lock