src/clients/customer/android/app/google-services.json
src/clients/customer/ios/Runner/GoogleService-Info.plist
src/clients/customer/.env

**/.firebaserc

**/flutter/generated_plugin_registrant.cc
**/flutter/generated_plugin_registrant.h
**/flutter/generated_plugins.cmake
**/Flutter/GeneratedPluginRegistrant.swift
